@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  border: 1px solid black;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
